@import url("./base.css");

.home-section{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-container{
  position: fixed;
  top: 0;
  z-index: 1000;
  padding: 0 3rem;
  width: 100%;
}

.header-container .nav-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 4rem;
}

.header-container ul {
  display: flex;
  flex-direction: row;
  font-size: 1.1rem;
  gap: 1.5rem;
}

.header-container ul li{
  cursor: pointer;
  position: relative; /* We set the position of relative for our absolute positioned children */
  overflow: hidden;
}

.header-container ul .active a{
  color: var(--accentColor);
}

.header-container ul .active::after{
  content: '';
  position: absolute;
  left: 50%; /* Start from the middle horizontally */
  transform: translateX(-50%); /* Adjust to truly center the starting point */
  z-index: -1;
  width: 0;
  height: 100%;
  border-bottom: 1px solid var(--accentColor);
  animation: border-grow .4s forwards; /* forwards is used to keep the final state after the animation */
}

.home-container, 
.about-container, 
.research-projects,
.internship-experience{
  padding: 0 10rem;
}

.home-container{
  display: flex;
  align-items: center;
  gap: 10rem;
  flex: 1;
}

.home-container .message-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  flex: 2;
}

.home-container .message-container h1{
  font-family: 'Poppins', sans-serif;
  font-size: 4rem;
  line-height: 1;
}

.home-container .message-container h1 span{
  color: var(--accentColor);
  line-height: 1;
}

.home-container .message-container .description-message{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-family: "Roboto Condensed";
}

.home-container .message-container .description-message p{
  font-size: 1.5rem;
}

.home-container .message-container .description-message a{
  border: 1px solid var(--primaryColor);
  padding: .8em;
  width: fit-content;
  border-radius: .5em;
}

.home-container .message-container .description-message a:hover{
  border: 1px solid var(--secondaryColor);
  transition: all .4s ease-in-out;
}

.home-container .image-container{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--accentColor);
  border-radius: 50%;
  aspect-ratio: 480 / 612;
  flex: 1;
}

.home-container .image-container img{
  border-radius: 50%;
}

.about-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  scroll-margin-top: 5rem;
}

.about-container .about-introductory h1,
.research-projects .research-projects-introductory h1,
.internship-experience .internship-experience-introductory h1{
  font-family: "Poppins", sans-serif;
  font-size: 4rem;
  line-height: 1.2;
  color: var(--accentColor);
}

.about-container .about-introductory p,
.research-projects .research-projects-introductory p,
.internship-experience .internship-experience-introductory p{
  font-size: 1.5rem;
  font-family: "Roboto Condensed", sans-serif;
}

.about-container .certificates-skills{
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.about-container .certificates-skills .certificates-container,
.about-container .upskill-certificate .upskilling-container,
.about-container .current-skills-container{
  background-color: var(--primaryColor);
}

.about-container .certificates-skills .certificates-container h1{
  color: var(--accentColor);
}

.about-container .certificates-container ul,
.about-container .upskilling-container ul{
  padding-left: 2em;
  list-style: initial;
  font-size: 1.3em;
}  

.about-container .upskill-certificate{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.about-container .upskill-certificate h1,
.about-container .certificates-skills .certificates-container h1,
.about-container .current-skills-container h1{
  font-size: 2rem;
  color: var(--accentColor);
}

.about-container .upskill-certificate .upskilling-container, 
.about-container .current-skills-container,
.about-container .certificates-skills .certificates-container{
  display: flex;
  flex-direction: column;
  padding: 1rem 2rem;
  border-radius: 2rem;
  gap: 1em;
}

.about-container .current-skills-container .skills-category div{
  display: flex;
  font-size: 1.3rem;
  flex-wrap: wrap;
}

.about-container .current-skills-container .skills-category h3{
  color: var(--accentColor);
  font-size: 1.5rem;
}

.research-projects{
  margin-top: 10rem;
  scroll-margin-top: 5rem;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: .5em;
  background-color: var(--accentColor);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -.2em;
}

/* Container around content */
.timeline-container {
  padding: 1rem;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.timeline-container::after {
  content: '';
  position: absolute;
  width: 1.5em;
  height: 1.5em;
  right: -.8em;
  background-color: white;
  border: .2em solid var(--accentColor);
  top: 2em;
  border-radius: 50%;
  z-index: 1000;
}

/* Place the container to the left */
.research-projects .left {
  left: 0;
}

/* Place the container to the right */
.research-projects .right {
  left: 50%;
}

/* Fix the circle for containers on the right side */
.research-projects .right::after {
  left: -.8em;
}

/* The actual content */
.content {
  padding: 1rem 2rem;
  background-color: var(--primaryColor);
  position: relative;
  border-radius: 2rem;
}

.internship-experience{
  margin-top: 10rem;
  scroll-margin-top: 5rem;
  margin-bottom: 3rem;
}

.timeline .content h2{
  font-size: 2rem;
  color: var(--accentColor);
}

.timeline .content p{
  font-size: 1.3rem;
}

.internship-experience .internship-experience-content{
  background-color: var(--primaryColor);
  border-radius: 2rem;
  padding: 1rem 2rem;
  margin-top: .5em;
}

.internship-experience .internship-experience-content h2{
  font-size: 2rem;
  color: var(--accentColor);
}

.internship-experience .internship-experience-content ul{
  padding-left: 2em;
  list-style: initial;
  font-size: 1.3em;
}  

.about-container > div,
.research-projects > div{
  animation: appear .4s linear forwards;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.certificates-skills .upskill-certificate,
.research-projects .timeline .left{
  animation: timeline-left-appear .4s linear forwards;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.certificates-skills .current-skills-container,
.research-projects .timeline .right{
  animation: timeline-rigth-appear .4s linear forwards;
  animation-timeline: view();
  animation-range: entry 0 cover 40%;
}

.internship-experience > div{
  animation: appear .4s linear forwards;
  animation-timeline: view();
  animation-range: entry 0 cover 20%;
}


@keyframes  border-grow{
  0%{
    width: 0;
  }
  100%{
    width: 100%;
  }
}

@keyframes appear {
  from{
    opacity: 0;
    transform: translateY(100px);
    scale: .5;
  }
  to{
    opacity: 1;
    transform: translateY(0);
    scale: 1;
  }
}

@keyframes timeline-left-appear {
  from{
    opacity: 0;
    transform: translateX(-1000px);
    z-index: 0;
  }
  to{
    opacity: 1;
    transform: translateX(0);
    z-index: 1;
  }
}

@keyframes timeline-rigth-appear {
  from{
    opacity: 0;
    transform: translateX(1000px);
    z-index: 0;
  }
  to{
    opacity: 1;
    transform: translateX(0);
    z-index: 1;
  }
}

/* Medium screen breakpoint */
@media only screen and (max-width: 1240px) and (min-width: 641px) {
  .certificates-skills{
    flex-direction: column;
  }
}

/* Small screen breakpoint */
@media screen and (max-width: 1080px){
  /* Header */
  .header-container #header-links{
    display: none;
  }

  .home-container, 
  .about-container, 
  .research-projects,
  .internship-experience{
    padding: 0 2rem;
  }

  .home-container .introductory-message h1:nth-child(1){
    display: inline;
  }

  .home-container .image-container{
    display: none;
  }

  /* ABOUT */
  .about-container .certificates-skills{
    flex-wrap: wrap;
  }

  .certificates-skills .upskill-certificate > div,
  .certificates-skills .current-skills-container{
    animation: timeline-left-appear-mobile .4s linear forwards;
    animation-timeline: view();
    animation-range: entry 0 cover 40%;
  }

  /* RESEARCH/PROJECTS */
  .timeline{
    display: flex;
    flex-direction: column;
  }

  .timeline::after{
    display: none;
  }

  .timeline-container{
    width: 100%;
  }

  .timeline-container::after{
    display: none;
  }

  .research-projects .right{
    left: 0;
  }
}

@keyframes timeline-left-appear-mobile {
  from{
    opacity: 0;
    transform: translateX(-500px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}